.body-leitor {
  margin-top: 10px;
}

.leitor-div-listagem {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
}

.leitor-table-listagem {
  margin-top: 50px;
  box-shadow: 0px 0px 3px #343e3d;
  color: var(--verde-claro);
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.253);
}

.leitor-table-listagem tr {
  background-color: #343e3d;
}

.leitor-table-listagem tr:nth-child(even) {
  background-color: rgb(38, 48, 46);
}

.leitor-table-listagem tr:hover {
  color: #343e3d;
  background-color: var(--verde-claro);
}

.leitor-table-listagem th {
  padding: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.leitor-tabela-l1 {
  color: #343e3d;
  background-color: var(--verde-claro);
}

.leitor-button-novo {
  text-align: center;
  width: 15%;
  margin: auto;
  padding: 7px;
  color: var(--verde-claro);
  display: block;
  border: none;
  border-radius: 3px;
  background-color: var(--verde-claro);
  border: 1px solid transparent;
  color: #343e3d;
  transition: 0.3s;
}

.leitor-button-novo:hover {
  transition: 0.3s;
  color: var(--verde-claro);
  border: 1px solid var(--verde-claro);
  background-color: #343e3d;
  cursor: pointer;
}

.leitor-select {
  display: block;
  text-align: center;
  width: auto;
  margin: auto;
  margin-top: 2%;
  padding: 7px;
  color: var(--verde-claro);
  border: none;
  border-radius: 3px;
  background-color: var(--verde-claro);
  color: #343e3d;
  transition: 0.5s;
  box-shadow: 0px 0px 2px #343e3d;
}

.leitor-option-excluir {
  background-color: rgb(168, 27, 27);
  color: var(--verde-claro);
}

.leitor-option-editar {
  background-color: rgb(18, 62, 128);
  color: var(--verde-claro);
}

.btn-livros-alugados {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: auto;
  right: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5px;
  padding: 7px;
  color: var(--verde-claro);
  border: none;
  border-radius: 3px;
  background-color: var(--verde-claro);
  color: #343e3d;
  transition: 0.5s;
  box-shadow: 0px 0px 2px #343e3d;
}

.dropdown-leitor {
  margin-left: 100px;
  margin-right: 100px;
}

.dropbtn-leitor {
  background-color: var(--verde-claro);
  color: var(--verde-escuro);
  width: 70px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 7px;
  margin: 0;
  box-shadow: 0px 0px 2px #343e3d;
}

.dropdown-content-leitor {
  display: none;
  position: absolute;
  background-color: var(--verde-claro);
  color: var(--verde-escuro);
  width: 70px;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dropdown-item-leitor {
  padding: 7px;
  text-decoration: none;
  color: var(--verde-escuro);
  cursor: pointer;
}

.dropdown-item-leitor:hover {
  background-color: var(--verde-escuro);
  color: var(--verde-claro);
}

.dropdown-leitor:hover .dropdown-content-leitor {
  display: block;
}

.btn-fechar-ipt-pesquisar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.btn-fechar {
  cursor: pointer;
  text-align: center;
  width: auto;
  right: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5px;
  padding: 7px;
  color: var(--verde-claro);
  border: none;
  border-radius: 3px;
  background-color: var(--verde-claro);
  color: #343e3d;
  transition: 0.5s;
  box-shadow: 0px 0px 2px #343e3d;
}

.ipt-pesquisar {
  margin-top: 10px;
  background-color: var(--verde-claro);
  color: #343e3d;
  text-align: center;
  display: inline;
  border: none;
  outline: none;
  width: 300px;
  height: 25px;
  border-radius: 3px;
}

.modal-livros-alugados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px;
  height: 350px;
  width: 700px;
}