.body-livro {
  display: block;
}

.div-livro-listagem {
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-livro-listagem img {
  margin-right: 10px;
  width: 100px;
  height: 152px;
  border-radius: 5px;
  position: relative;
}

.livros {
  display: inline-table;
  width: 400px;
  height: 152px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 2%;
  padding: 7px;
  background-color: #343e3d;
}

.div-livro-listagem h1 {
  font-size: 20px;
  color: #aedcc0;
}

.div-livro-listagem p {
  color: #aedcc0;
}

.livro-autor-p {
  margin-bottom: 10px;
}

.button-sem-cadastro {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding: 7px;
  color: #aedcc0;
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #aedcc0;
  color: #343e3d;
  transition: 0.5s;
}

.button-sem-cadastro:hover {
  transition: 0.5s;
  color: #aedcc0;
  background-color: #343e3d;
  cursor: pointer;
  box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.253);
}

.livros button {
  margin-left: 6%;
  margin-top: 13px;
  text-align: center;
  width: 27%;
  padding: 7px;
  color: #aedcc0;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
}

.livros button:hover {
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 1px 3px black;
}

.livro-select {
  display: block;
  text-align: center;
  margin-left: 80%;
  margin-top: 2%;
  padding: 7px;
  color: #aedcc0;
  border: none;
  border-radius: 3px;
  background-color: #aedcc0;
  color: #343e3d;
  transition: 0.5s;
  box-shadow: 0px 0px 2px #343e3d;
}

