.body-livro {
  display: block;
}

.div-livro-listagem {
  padding-top: 100px;
  padding-bottom: 100px;
}

.div-livro-listagem img {
  margin-right: 10px;
  width: 100px;
  height: 152px;
  border-radius: 5px;
  position: relative;
}

.livros {
  display: inline-table;
  width: 400px;
  height: 152px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
  padding: 7px;
  background-color: #343e3d;
}

.div-livro-listagem h1 {
  font-size: 20px;
  color: #aedcc0;
}

.div-livro-listagem p {
  color: #aedcc0;
}

.livro-autor-p {
  margin-bottom: 10px;
}
