body,html{
    height: 100%;
    background-image: linear-gradient(to right, #607466, #AEDCC0);
}

.leitor-div-listagem{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    padding: 50px;
}

.leitor-table-listagem{
    box-shadow: 0px 0px 3px #343E3D;
    color: #AEDCC0;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.leitor-table-listagem tr{
    background-color: #343E3D;
}

.leitor-table-listagem tr:nth-child(even){
    background-color: rgb(38, 48, 46);
}

.leitor-table-listagem tr:hover{
    color: #343E3D;
    background-color: #AEDCC0;
}

.leitor-table-listagem th{
    padding: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #04AA6d; */
    /* color: white; */
}

.leitor-tabela-l1{
    color: #343E3D;
    background-color: #AEDCC0;
}

.leitor-button-novo{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    padding: 7px;
    color: #AEDCC0;
    display: block;
    border: none;
    border-radius: 3px;
    background-color: #AEDCC0;
    color: #343E3D;
    transition: 0.5s;
}

.leitor-button-novo:hover{
    transition: 0.5s;
    color: #AEDCC0;
    background-color: #343E3D;
    cursor: pointer;
    box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.253);
}

.leitor-select{
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 2%;
    padding: 7px;
    color: #AEDCC0;
    display: block;
    border: none;
    border-radius: 3px;
    background-color: #AEDCC0;
    color: #343E3D;
    transition: 0.5s;
    box-shadow: 0px 0px 2px #343E3D;
}

.leitor-option-excluir{
    background-color: rgb(168, 27, 27);
    color: #AEDCC0;
}

.leitor-option-editar{
    background-color: rgb(18, 62, 128);
    color: #AEDCC0;
}