.navbar {
  background-color: #343e3d;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12%;
  position: fixed;
  z-index: 10;
}

.navbar-ol {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80%);
}

.navbar-div {
  display: block;
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-link-inicial {
  margin-top: 20px;
  position: absolute;
  top: 7px;
}

.navbar-input-pesquisa {
  margin-top: 10px;
  background-color: #aedcc0;
  color: #343e3d;
  text-align: center;
  display: inline;
  border: none;
  outline: none;
  width: 300px;
  height: 25px;
  border-radius: 3px;
}

.navbar-button-buscar {
  margin-top: 10px;
  display: inline;
  float: right;
  color: #343e3d;
  border: none;
  width: 60px;
  height: 27px;
  margin-left: 7px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #aedcc0;
}

.navbar-link-novolivro {
  margin-top: 10px;
  position: absolute;
  text-decoration: none;
  color: #aedcc0;
  display: inline-block;
  top: 7px;
  margin-left: 200px;
  width: 70px;
}
.navbar-link-novolivro:hover {
  padding: 5px;
  background-color: #aedcc0;
  color: #343e3d;
}

.navbar-link-leitores {
  margin-top: 10px;
  position: absolute;
  text-decoration: none;
  color: #aedcc0;
  display: inline-block;
  top: 7px;
  margin-left: 300px;
}

.navbar-link-leitores:hover {
  padding: 5px;
  background-color: #aedcc0;
  color: #343e3d;
}
