.container-infos-livro {
  max-width: 170px;
  height: 150px;
  padding-left: 10px;
}

.capa {
  width: 100px;
}

.alugado {
  text-align: center;
}

.livros {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--verde-claro);
  color: var(--verde-claro);
  max-width: 350px;
  padding: 20px;
  border-radius: 7px;
  background-color: transparent;
}

.acoes {
  float: right;
  margin-top: 10px;
}

.dropbtn {
  background-color: var(--verde-claro);
  color: var(--verde-escuro) !important;
  width: 70px !important;
  border: none;
  cursor: pointer;
  padding: 7px;
  margin: 0 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--verde-claro);
  color: var(--verde-escuro);
  width: 70px !important;
  z-index: 1;
  text-align: center;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  padding: 7px;
  text-decoration: none;
  color: var(--verde-escuro);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--verde-escuro);
  color: var(--verde-claro);
}

.dropdown:hover .dropdown-content {
  display: block;
}