.livros {
  display: inline-table;
  width: 400px;
  height: 152px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 2%;
  padding: 7px;
  background-color: #343e3d;
}

.livro-autor-p {
  margin-bottom: 10px;
}

.livro-select {
  display: block;
  text-align: center;
  margin-left: 80%;
  margin-top: 2%;
  padding: 7px;
  color: #aedcc0;
  border: none;
  border-radius: 3px;
  background-color: #aedcc0;
  color: #343e3d;
  transition: 0.5s;
  box-shadow: 0px 0px 2px #343e3d;
}

.alugado{
  margin-top: 20px;
  margin-bottom: -30px;
  margin-left: 130px;
  font-size: 30px;
}