* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 100px 0 50px;
}

.form_livro {
  background-color: #343e3d;
  color: #aedcc0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 20px;
  gap: 50px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
}

.h1_livro {
  font-size: 50px;
  padding-bottom: 30px;
}

.img_capa {
  width: 250px;
}

.form_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.inputs {
  margin-bottom: 10px;
  width: 230px;
  height: 25px;
  background-color: #aedcc0;
  border: none;
  outline: none;
  border-radius: 3px;
}

.inputs:hover {
  transform: scale(1.03);
}

.labels {
  text-align: center;
  margin-bottom: 3px;
}

.button_cadastrar {
  font-size: 17px;
  margin-top: 30px;
  width: 170px;
  height: 40px;
  background-color: #aedcc0;
  border: none;
  border-radius: 3px;
  color: #343e3d;
  cursor: pointer;
  transition: 0.3s;
}

.button_cadastrar:hover {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
